.app {
  text-align: center;
  height: 100%;
}

.carrot {
  height: 20vmin;
  pointer-events: none;
  margin: 5vmin 0;
}

@media (prefers-reduced-motion: no-preference) {
  .carrot {
    animation: carrot-spin infinite 10s linear;
  }
}

.cover {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.subtext {
  margin-top: 5%;
  font-size: calc(6px + 1vmin);
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@keyframes carrot-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
